<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jfam.leido">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_a"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_a"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leido"
        android:usesCleartextTraffic="true">

        <!-- AURELIA INTRO -->
        <activity
            android:name=".AureliaIntroActivity"
            android:exported="true"
            android:theme="@style/Theme.Leido.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SPLASH ACTIVITY -->
        <activity
            android:name=".SplashActivity"
            android:exported="false"
            android:theme="@style/Theme.Leido.Splash"/>

        <!-- LOGIN ACTIVITY -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <!-- REGISTRO ACTIVITY -->
        <activity
            android:name=".RegistroActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

        <!-- DETALLE LIBRO -->
        <activity
            android:name=".DetalleLibroActivity"
            android:exported="false"/>


    </application>

</manifest>